.module-login
  %h3
    %span Login Form
  .boxIndent
    = form_tag login_path, :class => 'form-login' do
      .part1
        .clear
          .username
            = text_field_tag :email, '', id: 'mod_login_username', placeholder: 'Email'
          .password
            = password_field_tag :password, '', id: 'mod_login_password', placeholder: '••••••'
        #inputs
          / <input type="submit" name="Submit" class="button" value="Log in">
          %input.button{name: "submit", type: "submit", value: "Logheaza-te"}/
      #form-login-remember
        %a{href: "#"}
          Ti-ai uitat parola
        %br/
        Nu ai cont inca?
        %br/
        %a.reg{href: "#"}
        = link_to 'Creaza-ti un cont', new_user_path