.module-login
  %h3
    %span Login Form
  .boxIndent
    %form.form-login{action: "#", method: "post", name: "login"}
      .part1
        .clear
          .username
            %input#mod_login_username.inputbox{alt: "Username", name: "username", onblur: "if(this.value=='') this.value='Username'", onfocus: "if(this.value =='Username' ) this.value=''", type: "text", value: "Username"}/
          .password
            %input#mod_login_password.inputbox{alt: "Password", name: "passwd", onfocus: "this.value=null", type: "password", value: "password"}/
        #inputs
          .rememberCheck
            %input#mod_login_remember.checkbox{alt: "Remember Me", name: "remember", type: "checkbox", value: "yes"}/
            %label.remember{for: "mod_login_remember"}
              Remember Me
          %input.button{name: "Submit", type: "submit", value: "Log in"}/
      #form-login-remember
        %a{href: "#"}
          Forgot your password?
        %br/
        %a{href: "#"}
          Forgot your username?
        %br/
        No Account Yet?
        %br/
        %a.reg{href: "#"} Create an account