%li#current.active.item53
  %a{href: "#"}
    %span Acasa
%li.item60
  %a{href: "#"}
    %span Magazin Online
%li.item56
  %a{href: "#"}
    %span Special
%li.item57
  %a{href: "#"}
    %span FAQ's
%li.item55
  %a{href: "#"}
    %span Stiri
%li.item58g
  %a{href: "#"}
    %span Contact