.menu-bg
  .main
    .clear
      #topmenu
        %ul.menu-nav
          = render :partial => 'shared/menus'
      #search
        .moduletable
          = form_tag products_index_path, :class => "pull-right navbar-search", :method => :get do
            = text_field_tag :search, params[:search], size: 30, 
              id: 'mod_search_searchword', placeholder: 'Cauta...'