- user = current_user
.main
  .clear.currency-bg
    #logo
      %a{href: "/"}
        %img{alt: "", src: "/assets/logo.jpg"}/
    .float-right
      .currency
        .moduletable
          - if is_logged_in
            %h3 
              Bine ai venit 
              = link_to user.name, user_path(user)
          - else
            %h3 Bine ai venit vizitatorule
      .cart
        .moduletable
          Cosul tau e gol
          %a{href: "#"} Vizualizeaza