.main
  .clear.currency-bg
    #logo
      %a{href: "#"}
        %img{alt: "", src: "/assets/logo.jpg"}/
    .float-right
      .currency
        .moduletable
          %h3 currencies:
          %form{action: "#", method: "post"}
            %select.inputbox{name: "product_currency", size: "1"}
              %option{value: "EUR"} Euro
              %option{selected: "selected", value: "USD"} US Dollar
            %input.button{name: "submit", type: "submit", value: "Change"}/
      .cart
        .moduletable
          %h3 Shopping Cart:
          Your Cart is currently empty.
          %a{href: "#"} Show Cart