.main
  .clear.currency-bg
    #logo
      %a{href: "/"}
        %img{alt: "", src: "/assets/logo.jpg"}/
    .float-right
      .currency
        .moduletable
          %h3 Bine ai venit vizitatorule
      .cart
        .moduletable
          Cosul tau e gol
          %a{href: "#"} Vizualizeaza