%section#maincontent.col-sm-9.sideleft.shopping-cart{role: "main"}
  .mainborder
    #toggle_sidebar
    %header.heading
      %h1.page-header Cos de Cumparaturi
    - if @shopping_cart.total_unique_items != 0
      .row
        %section#cart-info.col-sm-12
          %form#cart-contents
            %table.table.table-bordered
              %thead
                %tr
                  %th.image Imagine
                  %th.name.left Nume
                  %th.model.left Descriere
                  %th.quantity.left Cantitate
                  %th.price.right Pret
                  %th.total.right Total
              %tbody
                = render :partial => 'shared/shopping_carts/shopping_cart_item', :collection => @shopping_cart.shopping_cart_items
      .row
        %section#cart-module
          .buttons
            %a.btn.btn-primary{href: order_path}
              %i.icon-white.icon-check
                Comanda Produsele
            %a.btn{href: products_index_path}
              %i.icon-white.icon-shopping-cart
                Continua Cumparaturile
        %section#total-cart
          %table#total
            %tbody
              %tr
                %td.right
                  %b Sub-Total:
                %td.right
                  = @shopping_cart.total
              %tr
                %td.right
                  %b Total:
                %td.right
                  = @shopping_cart.total
    - else
      .mainborder
        #toggle_sidebar
        .empty
          %p Cosul dumneavoastra e gol!
          .buttons
            %a.btn.btn-primary{href: products_index_path}
              %i.icon-white.icon-shopping-cart
                Continua Cumparaturile