- previous_neighbour = product.neighbour(:previous)
- next_neighbour = product.neighbour(:next)
- if previous_neighbour
  %a.previous_page{href: "/product/#{previous_neighbour.id}"} 
    = previous_neighbour.name
- if next_neighbour
  %a.next_page{href: "/product/#{next_neighbour.id}"}
    = next_neighbour.name