.clear
  .buttons_heading
    %a{href: "#", onclick: "#", title: "PDF"}
      %img{align: "middle", alt: "PDF", border: "0", name: "PDF", src: "/assets/pdf_button.png"}/
    %a{href: "#", onclick: "#", title: "Print"}
      %img{align: "middle", alt: "Print", border: "0", name: "Print", src: "/assets/printButton.png"}/
  %h3.categoryName
    %a{href: "#", onclick: "#", title: "Subscribe to the Feed of the latest Products in this Category!"}
      %img{align: "middle", align: "top", alt: "feed", border: "0", src: "/assets/feed-icon-14x14.png"}/
    Diamond Rings
.orderby_form
  = label_tag('sort_item', "Sorteaza dupa: ")
  = select(:sort, :item, {"Cele mai noi" => 1, "Pret" => 2, "Nume" => 3})
  #product_list
    - @products.each do |product|
      .leftPosition{style: "width: 100%"}
        .browse_1
          .bottom_separator
            .bottom_separator
              = render :partial => 'shared/products/product_details', :locals => {:product => product}