- content_for(:buttons_heading) do
  = render :partial => 'shared/products/buttons_heading', :locals => {:product => @product}
= render :partial => 'shared/products/product_details', :locals => {:product => product}
%div
  %div
    %h3.Title
      %span Detalii produs:
    %table{id: 'product-details'}
      %tbody
        - @product.type_values.each do |v|
          %tr
            %th
              = v.type.name
            %td
              = v.value
  %br/
%div
#statusBox{style: "text-align:center;display:none;visibility:hidden;"}