- content_for(:buttons_heading) do
  = render :partial => 'shared/products/buttons_heading', :locals => {:product => @product}
= render :partial => 'shared/products/product_details', :locals => {:product => product}
%div
  %div
    %h3.Title
      %span Detalii produs:
    %table{id: 'product-details'}
      %tbody
        - @types.each do |name, values|
          - first = true
          - values.each do |value|
            %tr
              - if first
                - first = false
                %th{:rowspan => values.count, :valign => 'top'}
                  = name
              %td
                = value
  %br/
%div