- content_for(:buttons_heading) do
  = render :partial => 'shared/products/buttons_heading', :locals => {:product => @product}
= render :partial => 'shared/products/product_details', :locals => {:product => product}
%div
  %div
    %h3.Title
      %span Customer Reviews:
    %br/
    There are yet no reviews for this product.
    = succeed "Please" do
      %br/
  %br/
%div
#statusBox{style: "text-align:center;display:none;visibility:hidden;"}