- content_for(:buttons_heading) do
  = render :partial => 'shared/products/buttons_heading', :locals => {:product => @product}
= render :partial => 'shared/products/product_details', :locals => {:product => product}
%div
  %div
    %h3.Title
      %span Detalii produs:
    %table{id: 'product-details'}
      %tbody
        - @product.types.each do |p_type|
          %tr
            %th
              = p_type.type.name
            %td
              - p_type.values.each do |p_value|
                = p_value.type_value.value
                ,
  %br/
%div
#statusBox{style: "text-align:center;display:none;visibility:hidden;"}