/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
  padding-top: 0 !important;
}
div.mainborder div.row{
  margin-left: 0;
}
#cart-info .input-qty {
  width: 30px;
  display: inline-block;
  margin-right: 6px;
}
#cart-info .quantity {
  white-space: nowrap;
  text-align: center;
}
td.total, td.price{
    width: 90px;
}
#cart-info td {
    vertical-align: middle;
    background: #FFF !important;
}