.addtocart_button, .notify_button {
  text-align: left;
  height: auto;
  background-position: bottom left;
  cursor: pointer;
  border: none;
  font-weight: bold;
  vertical-align: top;
}
.notify_button {
  background: url("/assets/notify_blue.gif") no-repeat center transparent;
}
.addtocart_button_module {
  text-align: center;
  background-position: bottom left;
  width: 160px;
  height: 30px;
  cursor: pointer;
  color: #000000;
  border: none;
  font-weight: bold;
  font-family: inherit;
  background: url("/assets/transparent.gif") no-repeat center transparent;
  vertical-align: middle;
  overflow: hidden;
}
input.addtocart_button_module:hover{
  color: #333333;
}
.addtocart_form {
  width: 100%;
  display: inline;
  white-space: nowrap;
}
.quantity_box {
  vertical-align: middle;
}
.quantity_box_button {
  width: 10px;
  vertical-align: middle;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000;
}
.quantity_box_button_down {
  background-image: url("/assets/down_small.gif");
}
.quantity_box_button_up {
  background-image: url("/assets/up_small.gif");
}
.continue_link, .checkout_link {
  margin: 2px;
  padding: 2px 0px 2px 40px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.4em;
  width: 40%;
}
.checkout_link {
  margin-left: 40px;
  background: url("/assets/forward.png") no-repeat left;
}
.continue_link {
  background: url("/assets/back.png") no-repeat left;
}
.next_page {
  background: url("/assets/next_16x16.png") no-repeat right;
  padding-right: 30px;
  line-height: 20px;
  float: right;
  width: auto;
}
.previous_page {
  background: url("/assets/previous_16x16.png") no-repeat left;
  padding-left: 30px;
  line-height: 20px;
  float: left;
  width: auto;
}
.legalinfo {
  background: #d3d3d3;
  border: 2px solid gray;
  margin: 10px;
  padding: 0px 0px 10px 10px;
}
div.pathway {
  margin-bottom: 1em;
}
div.pathway img {
  padding: 0 2px;
}
div.buttons_heading {
  margin: 10px;
  width: 10%;
  float: right;
}
.productPrice {
  font-weight: bold;
  white-space: nowrap;
}
.product-Old-Price {
  text-decoration: line-through;
}
.browseProductContainer {
  width: 100%;
  padding: 3px 3px 3px 3px;
  vertical-align: top;
}
.browseProductTitle {
  font-size: 16px;
  font-weight: bold;
  float: none;
  width: 100%;
}
.browseProductImageContainer {
  float: left;
  width: auto;
  margin: 3px;
}
.browseProductDetailsContainer {
  float: left;
  width: 70%;
}
.browsePriceContainer {
  float: left;
}
.browseAddToCartContainer {
  width: 30%;
  text-align: center
}
.browseRatingContainer {
  float: left;
  width: 25%;
  margin: 3px;
  white-space: nowrap;
}
.thumbnailListContainer {
  text-align: center;
  width: 200px;
  height: 200px;
  overflow: auto;
}
.formLabel {
  float: left;
  width: 30%;
  text-align: right;
  font-weight: bold;
  margin: 2px;
  white-space: nowrap;
  clear: left;
  vertical-align: middle;
  margin-top: 8px;
}
#agreed_div {
  white-space: normal;
}
.formField {
  float: left;
  width: 60%;
  margin: 2px;
  vertical-align: middle;
  margin-top: 8px;
}
.missing {
  color: red;
  font-weight: bold;
}
.adminListHeader {
  float: left;
  height: 48px;
  background-repeat: no-repeat;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  padding-left: 80px;
}
.labelcell {
  margin-left: auto;
  font-weight: bold;
  vertical-align: top;
  width: 30%;
}
table.adminform td.labelcell {
  text-align: right;
}
.iconcell {
  vertical-align: top;
  width: 5%;
}
.shop_error, .shop_warning, .shop_info, .shop_debug, .shop_critical, .shop_tip {
  background-color: #FAFAD2;
  background-position: left 5px;
  background-repeat: no-repeat;
  border-color: #AACCAA;
  border-style: dotted none;
  border-width: 1px 0pt;
  font-weight: 900;
  margin: 1pt 1pt 1em 1em;
  padding: 0.5em 1em 1.5em 48px;
}
.shop_error {
  background-image: url("/assets/error.gif");
}
.shop_warning {
  background-image: url("/assets/warning.png");
}
.shop_info, .shop_tip {
  background-image: url("/assets/info.png");
}
.shop_debug {
  background-image: url("/assets/log_debug.png");
}
.shop_critical {
  font-weight: bold;
  background-image: url("/assets/log_critical.png");
}
.vmCartContainer {
  width: auto;
  float: left;
  background: #ADD8E6;
  border: 1px solid #000;
  padding: 3px;
}
.vmCartChildHeading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px;
  text-align: left;
}
.vmCartChild {
  vertical-align: middle;
  border: 1px solid #000;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 2px;
  float: left;
}
.vmChildDetail {
  vertical-align: middle;
  margin-top: 6px;
}
.vmCartChildElement {
  width: 100%;
  vertical-align: middle;
  height: 25px;
  text-align: left;
}
.vmCartAttributes {
  margin-top: 8px;
  width: 100%;
}
.vmAttribChildDetail {}.vmMultiple {
  height: 35px;
}
.vmChildType {
  width: 100%;
}
.vmClearDetail {
  clear: both;
}
.vmClearAttribs {
  clear: both;
}
.vmRowOne {
  background: #d3d3d3;
}
.vmRowTwo {
  background: white;
}
.vmChildDetail a, .vmChildDetail a:link{
  font-size: 11px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.vmChildDetail a:hover{
  font-size: 11px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
.inputboxquantity {
  margin-top: 3px;
  vertical-align: middle;
}
.availabilityHeader {
  text-decoration: underline;
  font-weight: bold;
}
.inputboxattrib {
  float: left;
  margin-top: 0px;
  vertical-align: middle;
  margin-bottom: 2px;
}
.quantitycheckbox {
  margin-top: 6px;
  vertical-align: middle;
}
.vmCartContainer_2up {
  width: 100%;
  float: left;
  background: #ADD8E6;
  border: 1px solid #000;
  padding: 3px;
}
.vmCartChildHeading_2up {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px;
  text-align: left;
}
.vmCartChild_2up {
  vertical-align: middle;
  border: 1px solid #000;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 2px;
  float: left;
}
.vmChildDetail_2up {
  vertical-align: middle;
  margin-top: 6px;
}
.vmCartChildElement_2up {
  width: 100%;
  vertical-align: middle;
  height: 25px;
  text-align: left;
}
.vmCartAttributes_2up {
  float: left;
  padding: 0px 5px 5px 5px;
  margin: 0px 5px 5px 5px;
  width: 50%;
}
.vmAttribChildDetail_2up {}.vmMultiple {
  height: 35px;
}
.vmChildType_2up {
  background: #ADD8E6;
  padding: 0px 5px 5px 5px;
  margin: 0px 5px 5px 5px;
  float: left;
  width: 40%;
  border: 1px solid #000;
}
.vmClearDetail_2up {}.vmClearAttribs_2up {
  clear: both;
}
.vmRowOne_2up {
  background: #d3d3d3;
}
.vmRowTwo_2up {
  background: white;
}
.vmChildDetail_2up a, .vmChildDetail_2up a:link{
  font-size: 11px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.vmChildDetail_2up a:hover{
  font-size: 11px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
.vmCartModuleList {
  cursor: pointer;
  font-size: 11px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.vmCartModuleList:hover{
  font-size: 11px;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}
.vmquote {
  margin: 4px;
  border: 1px solid #cccccc;
  background-color: #E9ECEF;
  padding: 10px;
  font-size: 12px;
  color: #254D78;
}
.editable {
  background: #ffff33;
  cursor: pointer;
}
.clr {
  clear: both;
  overflow: hidden;
  font-size: 0px;
  line-height: 0px;
}
.cbOverlay {
  background-color: #000;
}
.cbContainer {
  padding: 5px;
  background-color: white;
  border: 2px solid gray;
}
.cbBox h3 {
  font-size: 1.4em;
  margin-top: 0px;
  padding-top: 3px;
  vertical-align: middle;
  text-align: center;
  background-color: #ccc;
  background-image: url("js/mootools/header-background.png");
}
.cbBox p {
  margin: 3px;
}
.cbBox, .cbButtons {
  text-align: center;
}
.cbButton {
  margin: 3px;
}
.cbCloseButton {
  background: url("js/mootools/close.gif") no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 9px;
  right: 5px;
  cursor: pointer;
}
#lbOverlay {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  cursor: pointer;
}
#lbCenter, #lbBottomContainer {
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  background-color: #fff;
}
.lbLoading {
  background: #fff url("js/slimbox/css/loading.gif") no-repeat center;
}
#lbImage {
  position: absolute;
  left: 0;
  top: 0;
  border: 10px solid #fff;
  background-repeat: no-repeat;
}
#lbPrevLink, #lbNextLink {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  outline: none;
}
#lbPrevLink {
  left: 0;
}
#lbPrevLink:hover{
  background: transparent url("js/slimbox/css/prevlabel.gif") no-repeat 0 15%;
}
#lbNextLink {
  right: 0;
}
#lbNextLink:hover{
  background: transparent url("js/slimbox/css/nextlabel.gif") no-repeat 100% 15%;
}
#lbBottom {
  font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
  font-size: 10px;
  color: #666;
  line-height: 1.4em;
  text-align: left;
  border: 10px solid #fff;
  border-top-style: none;
}
#lbCloseLink {
  display: block;
  float: right;
  width: 66px;
  height: 22px;
  background: transparent url("js/slimbox/css/closelabel.gif") no-repeat center;
  margin: 5px 0;
  outline: none;
}
#lbCaption, #lbNumber {
  margin-right: 71px;
}
#lbCaption {
  font-weight: bold;
}
#mod_search_searchword{
  width: 200px;
}
#sort_item{
  margin-bottom: 0;
}
td.product-cell, th.product-cell{
  border-bottom: 1px dotted #ccc;
}